<%- include header %>
        <div class="container">
            <div class="row">
                <% arts.forEach(function(art) { %>
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="article-box">
                            <!-- a href="/detail/<%= art._id %>"-->

                            <h3 class="text-center">
                                <a href="/detail/<%= art._id %>" ><%= art.title %></a>
                            </h3>

                            <form action= "/delete/<%= art._id %>", method="post"  id="deletePost">
                            <p class="text-center">
                                <span class="label label-info"><%= art.tag %></span> | 
                                <span class="create-time">
                                    <span class="text-bold">Time:</span>
                                    <%= art.createTime.toString().slice(4,25) %> 
                                    
                                </span> |
                                <span><a onclick="submitDelete();">delete</a></span>
                            </p>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
        
        <script>
            function submitDelete(){
                Swal.fire({
                    title: 'Delete this post?',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                }).then((result) => {
                    if (result.isConfirmed) {
                        document.getElementById('deletePost').submit()
                        Swal.fire('success').then(function() {
                        window.location = "/index";
                    })
                    } 
                })
            }
        </script>
    </body>
</html>